* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f9fafb;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed; /* cố định sidebar */
}


.profile-card {
    margin-top: 30px;
    width: 250px;
    text-align: center;
    /* padding: 20px; */
    /* background-color: #ffffff; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.profile-email {
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
}

.menu {
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--Text, #181A18);

    /* Desktop/H1 */
    font-family: "Lato";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.3%;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    position: relative;
}

.menu-item .icon {
    margin-right: 10px;
    font-size: 18px;
}

.menu-item .text {
    flex-grow: 1;
}



.menu-item.active {
    background-color: #f0f0f0;
    font-weight: bold;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    /* margin-bottom: 500px; */
}

.logout{
    display: flex;
    justify-content: center; 
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #333333, #000000); /* Gradient from dark gray to black */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background: linear-gradient(45deg, #444444, #222222); /* Darker gradient on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5); /* Adds a focus ring */
}

